.hello-words{
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            font-size: 200%;
            white-space: nowrap;
        }