{% extends 'base.html' %}
{# 标题 #}
{% block title %}
    待填表格
{% endblock %}
{% block css_header %}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/list.css">
{% endblock %}
{# 内容 #}
{% block content %}
    {% if not user.is_authenticated %}
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">提示信息</h3>
                </div>
                <div class="panel-body">
                    <h3 class="text-center">请先登录</h3>
                </div>
            </div>
        </div>

    {% else %}
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block blog_bar %}问卷列表{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% for sheet in list %}
                        <div class="sheet">
                            <h3 class="post-title"><a href="/form/{{ sheet.pk }}">{{ sheet.paper_name }}</a></h3>
                            <ul>
    {#                            <li class="content"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="{% url 'home'  %}"> {{ blog.blog_type }}</a></li>#}
                                <li class="content"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ sheet.author.username }}</li>
                                <li class="content"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ sheet.created_time|date:"Y-m-s H:i:s"}}</li>
                            </ul>
    {#                        <p>{{ blog.content | truncatechars_html:60 }}</p>#}
                        </div>
                    {% empty %}
                    <h3 class="text-center">--暂无表格，敬请期待--</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
